.App {
  text-align: center;
}
html, body, #app, #app>div {
  height: 100%
}
.highlighted{
  background-color: cyan;
  opacity: 100%;
}

.backGround{
  background-color: sandybrown;
  height: 100%;

}
.root{
  height: 100%;
}
.fullScreen{
  height: 100%;
}

.topBar{
  position: absolute;
  left: 303px;
  border-style: solid;
  border-color: black;
  background-color: grey;
  top: 0;
  width: 76%;
  z-index: 50;
  height: 150px;
}

.leftBar{
  position: absolute;
  border-style: solid;
  border-color: black;
  background-color: grey;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 50;
  height: 100%;
}
.rightBar{
  border-style: solid;
  border-color: black;
  background-color: grey;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 50;
  height: 100%;
}
.blackBanner{

  text-align: right;
  font-size: 22px;

  padding-right: 5%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redBanner{
  font-size: 20px;
  padding-left: 5%;
}
.redPeice {
  height: 20px;
  width: 20px;

  border-radius: 50%;
  display: inline-block;
  background-color:red;
  border:3px solid brown;
}

.blackPeice{
  height: 20px;
  width: 20px;

  border-radius: 50%;
  display: inline-block;
  background-color:grey;
  border:3px solid brown;
}

body, html {
  height: 100%;
}
.grid-container {
  height: 50%;
  padding-top: 15%;
  width: 33%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
  padding-left: 33%;

}
.redSquare {

  background-color: red;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.blackSquare{
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
